.game-over {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  width: 95vw;
}

  .game-over .header {
    font-size: 2rem;
    color: white;
  }

  .game-status {
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    color: white;
  }

    .game-status > div{
      flex-grow: 1;
    }

    .score {
      padding: 1rem 2rem;
      display: flex;
      align-items: center;
      font-size: 3.5rem;
      justify-content: center;
      color: white;
    }

    .new-high-score {
      color: white;
      margin: 2rem 0;
      font-size: 1.8rem;
    }


  .fa-home {
    font-size: 3rem;
  }
