.start-game {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem 0;
}

  .icon {
      max-width: 9rem;
      max-height: 9rem;
      margin-top: 1rem;
    }

  .start-name-header {
    width: 27vw;
  }

    .tag-line-wrapper {
      display: flex;
    }

      .tag-line-wrapper hr {
          width: 4rem;
          color: var(--action-color);
      }

  .start-game-form-wrapper {
    display: grid;
    align-items: center;
    flex-direction: column;
    padding: 2rem 1rem;
    width: 25vw;
  }

    .name {
      border-radius: 5px;
      border: none;
      color: #eaeaea;
      padding: 0.9rem 1rem;
      font-size: 1.1rem;
      background: #97A1A3;
    }

    .difficulty-level {
      background: rgba(0,0,0,0.3);
      border-radius: 5px;
      border: solid 2px #97a1a3;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      font-size: 1.3rem;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: left;
      margin: 2rem 0;
      padding: 0.7rem 1rem;
      color: white;
    }