/** Reset CSS - Stars **/
html, body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(/images/background/background2x.png);
  background-color: #7CD2E3;
  background-size: 70% 135%;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  background-color: transparent;
  border: none;
}

select option:disabled {
  display: none;
}

select::-ms-expand {
  display: none;
}

a {
  text-decoration: none;
}

* {
  outline: none;
}

*:focus {
  outline: 0;
}

table {
    border-collapse: collapse;
}

tr {
  margin-bottom: 1rem;
}


/** Reset CSS - end **/

/** Variables - Starts **/
:root {
  --action-color: #ff5155;
}

@font-face {
  font-family: 'Laser Corps Halftone Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Laser Corps Halftone Regular'), url('fonts/lasercorpshalf.woff') format('woff');
}

/** Variables - end **/


/** Media queries - starts ***/
@media screen and (max-width:600px) {
  .start-game-form-wrapper {
    width: 81vw;
  }

  body {
    background-size: 100%;
  }

}
