/** Variables - Starts **/
:root {
  --action-color: #ff5155;
  --font-color: #white;
}

@font-face {
  font-family: 'Laser Corps Halftone Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Laser Corps Halftone Regular'), url('fonts/lasercorpshalf.woff') format('woff');
}

@font-face {
  font-family: 'Beam Catcher';
  font-style: normal;
  font-weight: normal;
  src: local('Beam Catcher'), url('fonts/breamcatcher.d4ccc48c.ttf') format('woff');
}

input, select {
  font-family: 'Beam Catcher';
}

input {
  font-size: 1.5rem;
}

/** Variables - end **/


/** Media queries - starts ***/
@media screen and (max-width:600px) {
  .start-game-form-wrapper {
    width: 81vw;
  }

  body {
    background-size: 100%;
  }

}
