/** Reset CSS - Stars **/
html, body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-image: url(/images/background/background2x.png);
  background-color: #03262D;
  background-size: 61% 119%;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  background-color: transparent;
  border: none;
}

select option:disabled {
  display: none;
}

/** Reset CSS - Completed **/

/** Variables - Starts **/
:root {
  --action-color: #ff5155;
}

/** Variables - Completed **/

/** Media queries ***/
@media screen and (max-width:600px) {
  .row .column:first-child {
    display: none;
  }

  .start-game-form-wrapper {
    width: 81vw;
  }
}
